.header {
  padding-right: 20px;
  padding-left: 20px;
  background-color: $dark-grey;

  &__cells {
    display: flex;
    justify-content: space-between;
  }

  &__cell {
    display: flex;
    align-items: center;
  }
}