.a-nav-item {
  font-size: 18px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;

  svg {
    width: 20px;
    height: 20px;
  }

  &__text {
    margin-left: 10px;
    margin-top: 5px;
  }
}