.footer {
  background-color: $light-background;

  &__services {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
  }

  &__service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__service-text {
    color: $grey-text;
    margin-bottom: 10px;
  }
}
