.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 72px;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  color: black;

  &:hover {
    color: transparentize(black, 0.4);
  }
}
