.tutorials-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;

  &__image {
    svg {
      width: 100px;
      height: auto;
    }
  }

  &__title {
    font-size: 34px;
    margin-top: 15px;
    font-weight: bold;
  }
}
